body{
  background-color:#282C34;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}